<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>



<div class='container'>

<h1>Title: <%= @survey.title %></h1>
<ul class="survey_results">
<% question_number = 1 %>
<% @survey.questions.each do |question| %>
<li><%= question_number %>:<%= question.content %></li>
  <ul>
   
    <% total_survey_participants = @survey.participants.length %>
  	<% question.choices.each do |choice| %>
      <% participants_per_choice = choice.participants.length%>
  	  <li><%= choice.content %> <span class='percentage'>(<%= (participants_per_choice/ total_survey_participants.to_f)*100%>%)</span></li>
  	<% end %>
  </ul>

<% question_number += 1 %>
<% end %>
</ul>



<div id="container" style="width:100%; height:400px;"></div>

<div style='display: none' id="num_questions" class="number_of_questions"><%= @survey.questions.count %></div>

<script type="text/javascript">


  var data = <%= @data %>
</script>


</div class='container'>



