<h1>Title: <%= @survey.title %></h1>


<ul class="survey_results">
<% question_number = 1 %>
<% @survey.questions.each do |question| %>
<li><%= question_number %>:<%= question.content %></li>
  <ul>
   
    <% total_survey_participants = @survey.participants.length %>
  	<% question.choices.each do |choice| %>
      <% participants_per_choice = choice.participants.length%>
  	  <li><%= choice.content %> (<%= participants_per_choice/ total_survey_participants.to_f%>)</li>
  	<% end %>
  </ul>

<% question_number += 1 %>
<% end %>
</ul>
